<% content_for :content do %>
    <%= content_tag :div, render(:partial => 'regions/right_side'), :class => 'right_side' if @right_side_navigation || @right_side_links || @right_side_charts || @right_side_facts %>

  <div class="article">
    <%= render :partial => 'regions/event_item_part', :locals => { :object => @content_first.content } if @content_first %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>

