<%= content_for :content do %>
  <div class='about_department index'>
    <div class='information'>
      <%= render_partial_for_region @content_first %>
    </div>
    <%= content_tag(:div, render(:partial => 'regions/chief_department'), class: :chief_department) if @chief_department.present? %>
  </div>
<% end %>
