<% content_for :content do %>
  <% if @content %>
    <div class='search_total_count'>
      <%= t('search_total_count') %>: <strong><%= @content.content.pagination.total_count %></strong>
    </div>
  <% end %>
  <%= render_partial_for_region(@content) %>
<% end %>
