<% content_for :content do %>
  <% if @content %>
    <h1><%= I18n.t('sitemap') %></h1>
    <div class="sitemap">
      <%= render "regions/#{@content.type.underscore}", :object => @content.content.values.first['children'] %>
    </div>
  <% end %>
<% end %>
