<% content_for :content do %>
  <div class="article">
    <%= render "regions/#{@content_first.type.underscore}", :object => @content_first.content.values.first['children'] if @content_first %>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
