<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style noindex">
  <a class="addthis_button_facebook_like" alt='Facebook Like' title='Facebook Like' fb:like:layout="button_count"></a>
  <a class="addthis_button_stumbleupon" alt='StumbleUpon' title='StumbleUpon' style='float: right;'></a>
  <a class="addthis_button_digg" alt='Digg' title='Digg' style='float: right;'></a>
  <a class="addthis_button_delicious" alt='Delicious' title='Delicious' style='float: right;'></a>
  <a class="addthis_button_livejournal" alt='LiveJournal' title='LiveJournal' style='float: right;'></a>
  <a class="addthis_button_twitter" alt='Twitter' title='Twitter' style='float: right;'></a>
  <a class="addthis_button_facebook" alt='Facebook' title='Facebook'  style='float: right;'></a>
  <a class="addthis_button_vk" alt='ВКонтакте' title='ВКонтакте' style='float: right;'></a>
  <span>Поделиться:</span>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f41cadd1eb636f2"></script>
<!-- AddThis Button END -->
