app:
  secret:       SECRET

cms:
  url:          http://site.com
  site_slug:    slug

errors:
  key:          KEY
  url:          http://site.com

storage:
  url:          http://site.com

deploy:
  gateway:      user@host
  domain:       user@host
  application:  appname.ru
  port:         port
