body
  color: #454545
  font-size: 12px
  font-family: Verdana, Tahoma, Arial, sans-serif
  background-color: #6c8cc6
  +background-image(linear-gradient(left, #3e67b0, #6c8cc6 20%, #6c8cc6 80%, #3e67b0))
