.content_wrapper
  width: 1000px
  +min-height(400px)
  background-color: #fff
  +border-radius(3px)
  +box-shadow(#777 0 0 6px)
  padding-bottom: 15px
  margin: 0 auto
  position: relative
  z-index: 1

  .right_side_info
    float: right
    width: 300px
    border: 1px solid #e7effc
    +border-radius(3px)
    background-color: #f1f5fe
    padding: 10px
    margin: 0 0 20px 20px

  .content
    margin: 20px 20px 5px
    line-height: 1.4
    @for $i from 1 through 3
      h#{$i}
        margin-bottom: 10px
    h1
      color: #d78432
      font-size: 18px
    h2
      font-size: 16px
      font-weight: bold
    h3
      font-size: 14px
      font-weight: bold
    p
      margin-bottom: 15px

    ul
      margin: 0 0 15px 0
      li
        +clearfix
        margin-bottom: 5px
        padding-left: 20px
        &:before
          content: '\25cf'
          width: 0
          color: #707070
          position: relative
          float: left
          left: -15px

    ol
      margin: 0 0 15px 25px
      li
        list-style: decimal
        margin-bottom: 5px

    .collapse_item
      display: none

    table
      width: 100%
      margin-bottom: 15px
      td, th
        padding: 5px 8px
        border: 1px solid #e3e3e3
        p
          margin-bottom: 0
      th
        background-color: #f7f7f7

    img
      border: 3px solid #f1f5fe
      border-color: #e7effc
      +border-radius

    strong, b
      font-weight: bold

    em, i
      font-style: italic

    .nobr
      white-space: nowrap

    .floatl
      float: left
      margin: 0 10px 10px 0

    .floatr
      float: right
      margin: 0 0 10px 10px

    .sitemap
      ul
        margin-bottom: 0
        li
          color: #2c56a1
          margin: 5px 0
          font-size: 17px
          li
            font-size: 15px
            li
              font-size: 13px
              li
                font-size: 11px

    .banners
      ul, ol
        li
          padding-left: 0
          &:before
            content: ''
