.tinted_box_wrapper
  background-color: #e3edff
  border-bottom: 1px solid #eaf1fd
  .tinted_box
    +clearfix
    width: 1000px
    margin: 0 auto
    padding-left: 1px
    li
      float: left
      line-height: 1.4
      border-left: 1px solid #c7dbff
      border-right: 1px solid #f3f7ff
      padding: 4px 16px
      &:first-child
        position: relative
        &:before
          border-left: 1px solid #f3f7ff
          content: ''
          top: 0
          left: -2px
          width: 0
          height: 100%
          position: absolute
      &:last-child
        position: relative
        &:before
          border-right: 1px solid #c7dbff
          content: ''
          top: 0
          right: -2px
          width: 0
          height: 100%
          position: absolute
    a
      font-size: 11px
      color: #315ba6
      .uppercase
        text-transform: uppercase
      &:hover
        text-decoration: none
    .tusur a
      +iconize_link('tusur_small_logo.png', 72px, 13px)
      margin-top: 2px
    .rtf a
      background: transparent image_url('rtf_logo.png') no-repeat left center
      padding: 1px 0 1px 20px
    .svchikr a
      text-decoration: none
      padding-top: 1px

.header
  width: 990px
  margin: 10px auto 12px
  +clearfix
  .site_name
    float: left
    width: 425px
    h1
      a
        display: block
        font-size: 18px
        line-height: 1.6
        color: #fff
        background: transparent image_url('tusur_big_logo.png') no-repeat left center
        padding: 0 0 0 70px
        text-decoration: none
  .language_and_search
    float: right
    .language
      float: right
      line-height: 1.4
      +clearfix
      margin-bottom: 12px
      .sitemap
        float: left
        margin-right: 20px
        a
          color: #fff
      .ru
        float: left
        margin: 4px 5px 0
        a
          +iconize_link('lang_ru.png', 16px, 11px)
          background-position: 0 -11px
        &.active a
          background-position: 0 0
      .en
        float: left
        margin: 4px 0 0
        a
          +iconize_link('lang_en.png', 16px, 11px)
          background-position: 0 -11px
        &.active a
          background-position: 0 0
    .search_form
      float: right
      clear: right
      .inputs input
        font-size: 12px
        font-family: Arial, Verdana, Tahoma, sans-serif
        width: 320px
        border: 1px solid #6586c2
        +border-radius(3px)
        +box-shadow(#bcbcbc 0 0 8px inset)
        background-color: #fff
        padding: 4px 7px
