.content
  .about_department
    +clearfix
    .information
      width: 960px - 300px - 20px - 2px - 20px
      float: left
      margin-right: 20px
    .chief_department
      width: 300px
      float: left
      border: 1px solid #e7effc
      +border-radius(3px)
      background-color: #f1f5fe
      padding: 10px
      h1
        margin-bottom: 10px
      p
        margin-bottom: 0
      dl
        +clearfix
        margin-bottom: 5px
        dt
          width: 90px
          float: left
          font-weight: bold
        dd
          width: 210px
          float: left
      .chief
        +clearfix
        margin-top: 10px
        .title
          width: 300px - 100px - 6px - 10px
          float: left
          margin-right: 10px
          h2
            margin-bottom: 5px
          .name
            font-size: 16px
        .photo
          width: 106px
          height: 133 + 6px
          float: left
          background-color: #e2e3e8
          img
            +border-radius(0)
            border: 3px solid #fff
