<% collection = object.to_a %>
<% current = collection.pop.try(:first).try(:gsub, /\s\|.*$/, '') %>

<% if collection.count > 1 %>
  <div class="breadcrumbs">
    <div class="inner">
      <%= raw collection.map {|item| link_to(item.first, item.second)}.push(current).join(' &ndash; ') %>
    </div>
  </div>
<% end %>
